<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Category Edit</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-5">
        <h2 class="mb-4">Edit Category</h2>

        <form id="editCategoryForm" action="/admin/categoryEdited/<%= category._id %>" method="post">
            <div class="form-group">
                <label for="categoryName">Category Name:</label>
                <input type="text" class="form-control" id="categoryName" name="name" value="<%= category.name %>"
                    placeholder="Enter category name">
                <span id="categoryNameError" class="text-danger" style="display: none;">Category name must be
                    string</span>
            </div>

            <div class="form-group">
                <label for="categoryDescription">Category Description:</label>
                <textarea class="form-control" id="categoryDescription" name="description" rows="3"
                    placeholder="Enter category description"><%= category.description %></textarea>
                <span id="categoryDescriptionError" class="text-danger" style="display: none;">Wrong discripton
                    formate.</span>
            </div>

            <button type="button" onclick="validateForm()" class="btn btn-primary">Save Changes</button>
        </form>
    </div>


    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function validateForm() {
            var categoryName = document.getElementById("categoryName").value;
            var categoryDescription = document.getElementById("categoryDescription").value;

            // Regular expression to match only letters and spaces
            var regex = /^[a-zA-Z\s]+$/;

            if (!regex.test(categoryName)) {
                document.getElementById("categoryNameError").style.display = "block";
            } else {
                document.getElementById("categoryNameError").style.display = "none";
            }

            if (!regex.test(categoryDescription)) {
                document.getElementById("categoryDescriptionError").style.display = "block";
            } else {
                document.getElementById("categoryDescriptionError").style.display = "none";
            }

            if (regex.test(categoryName) && regex.test(categoryDescription)) {
                document.getElementById("editCategoryForm").submit();
            }
        }
    </script>

</body>

</html>