<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-image: url('/assets/imgs/shop/background/bk\ 3.jpg');
        }

        .login-container {
            max-width: 400px;
            margin: auto;
            margin-top: 100px;
            padding: 20px;
            border: 1px solid #ced4da;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .login-container h2 {
            text-align: center;
            color: #007bff;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="login-container">
            <h2>Admin Login</h2>
            <form id="adminLogin">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email">
                    <span id="emailErrorElement" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <p  class="text-danger"><%=message %></p>
                    <span id="passwordErrorElement" class="text-danger"></span>
                </div>

                <button type="button" class="btn btn-primary btn-block" onclick="validateAndLogin()">Login</button>
            </form>
            <p></p>
       
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function validateAndLogin() {
            const emailValue = document.getElementById('Email');
            const passwordValue = document.getElementById('password');
            const emailErrorElement = document.getElementById('emailErrorElement');
            const passwordErrorElement = document.getElementById('passwordErrorElement');

            // clear existing error message
            emailErrorElement.innerText = '';
            passwordErrorElement.innerText = '';

            // validate email
            const email = emailValue.value.trim();
            const emailRegex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;

            if (!email) {
                emailErrorElement.innerText = 'Email is required';
                return;
            } else if (!emailRegex.test(email)) {
                emailErrorElement.innerText = 'Invalid email format';
                return;
            }

            // password validation 
            const password = passwordValue.value.trim();

            if (!password) {
                passwordErrorElement.innerText = 'Password is required';
                return;
            }

            // if both email and password are valid, perform login
            performLogin(email, password);
        } 
       
        function performLogin(email, password) {
            fetch('/admin/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        email,
                        password
                    }),
                })
                .then(response => {
                    if (response.ok) {
                        return response.json(); // return parsed json data
                    } else {
                        throw new Error('Network response was not ok');
                    }
                })
                .then(data => {
                    console.log(data);
                    location.href = '/admin/adminHome'
                })
                .catch(error => {
                    console.log(error);
                    document.getElementById('passwordErrorElement').innerText = 'Invalid Email or Password';
                });
        }
    </script>
</body>

</html>
